body {
    background: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 64px;
    font-weight: normal;
    text-decoration-line: underline;
    color: #6F5F75;
}

/* calculator body */
#calculator-body{
    width: 336px;
    height: 372px;
    border: 3px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 25px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);  
    line-height: 54px;
}

/* display */
#display {
    width: 191px;
    height: 49px;
    font-size: 30px;
    text-align: right;
    grid-area: 1/1/2/4;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    color: #828282;
    margin: auto;
}

/* buttons */
.clear {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #F2994A;
    margin: auto;
}

.number {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #39D6E0;
    margin: auto;
}

.operate {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #53E13B;
    margin: auto;
}

.dec-equals {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #F12A8A;
    margin: auto;
}

/*hover effects*/
.clear:hover, .number:hover, .operate:hover, .dec-equals:hover {
    background: #FFFFFF;
    color: #6F5F75;
}